<div class="fixedHeader">
	<div class="brand"><a href="/" style="border: 0px solid white !important"><img src="../img/Header/Logo.png"></a></div>
	<div class="loginForm">
		<form class="form-inline">
		  <div class="form-group">
		    Welcone, Aly!
		  </div>
		  <button type="submit" class="btn">Log Out</button>
		</form>
	</div>
</div>
