<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/global-head %>
  <title>Open Circle</title>

</head>
<body>

  <% include ./partials/header %>

  <% include ./partials/global-scripts %>
</body>
</html>
