<html>
<head>
  <title>Open Circle</title>
  <!-- Latest compiled and minified CSS -->
  <% include ./views/partials/global-head %>
  <link rel="stylesheet" type="text/css" href="styles/dashboard.css">
</head>
<body>
	<% include ./views/partials/header %>
  <div class="container-fluid parallax" id="block1">
		<div class="mild-text">Join the community for women by women.<hr></div>
		<div class="hook" id="hook1">Want to win some swag?</div>

		<div class="desc" id="desc1">Want to use technology but don't know where to start?
		</div>
		<div class="footer-text">
			<p>Read below</p>
			<i class="fa fa-angle-down fa-3x"></i>
		</div>
	</div>
	<div class="container-fluid parallax" id="block2">
		<div class="hook" id="hook2">Ok. Lets play a game with levels</div>
		<!-- <div class="highlight-text">Unlock Levels</div> -->
		<div class="pipeline">
			<img src="img/Header/Stagebar.png">
		</div>
		<div class="row item">
			<div class="col-lg-3" id="item1"></div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3 " id="item2"></div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3 " id="item3"></div>
		</div>
		<div class="desc" id="desc2">Levels have tracks. Complete each track and collect Karma to shop for products.</div>

	</div>
	<div class="container-fluid parallax" id="block3">
		<div class="hook" id="hook3">Like what you see? <hr></div>

		<div class="desc" id="desc5">
			<p>There is lots you can do.</p>
			<p id="learnProg">Learn to build something cool.</p>
			<p id="openSourceContri">Contribute to Open Source.</p>
			<p>Share project ideas and ask someone to help.</p>
			<p>Connect directly with industry mentors.</p>
			<p>Give interview tests for top sponsors</p>
		</div>
		<button id="joinNow" class="btn">JoinNow</button>
	</div>
<!-- 	<div class="container-fluid parallax" id="block4">
		<div class="hook">Like what you see?</div>
		<div class="desc">Description</div>
	</div>
	<div class="container-fluid parallax" id="block5">
		<div class="hook">Like what you see?</div>
		<div class="desc">Description</div>
	</div> -->
<% include ./views/partials/global-scripts %>
</body>
</html>
