<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/global-head %>
  <link rel="stylesheet" type="text/css" href="../styles/profile.css">
  <title>Open Circle</title>

</head>
<body>

  <% include ./partials/header %>
  <div class="container">
		<div class="col-sm-4 col-md-4 col-lg-4 profileInfo">
			<div class="row profileImg">
				<img src="../img/profile/profileImage.jpg" style="width: 125px; height: 125px"><br />
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#PictureModal">Change</button>
						<!-- Modal -->
							<div id="PictureModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">
    							<!-- Modal content-->
	    							<div class="modal-content">
							      		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Upload New Picture</h4>
      						  			</div>
      						  			<div class="modal-body">
	      						    		<textarea rows="1" cols="40">File Uploader</textarea>
      						  			</div>
      						  			<div class="modal-footer">
      						  				<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
			</div>
			<div class="row profileSeg">
				Welcome Back aly796!
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#UsernameModal">Change Username</button>
						<!-- Modal -->
							<div id="UsernameModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">
    							<!-- Modal content-->
	    							<div class="modal-content">
							      		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Edit Username</h4>
      						  			</div>
      						  			<div class="modal-body">
	      						    		<textarea rows="1" cols="60">Current Username</textarea>
      						  			</div>
      						  			<div class="modal-footer">
      						  				<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
				<br />
			</div>
			<div class="row profileSeg">
				Name: Alison White
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#UsernameModal">Edit Name</button>
						<!-- Modal -->
							<div id="UsernameModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">
    							<!-- Modal content-->
	    							<div class="modal-content">
							      		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Edit Name</h4>
      						  			</div>
      						  			<div class="modal-body">
	      						    		<textarea rows="1" cols="60">Current Username</textarea>
      						  			</div>
      						  			<div class="modal-footer">
      						  				<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
			</div>
			<div class="row profileSeg">
				GitHub: aly796
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#UsernameModal">Change Account</button>
						<!-- Modal -->
							<div id="UsernameModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">
    							<!-- Modal content-->
	    							<div class="modal-content">
							      		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Edit Acount</h4>
      						  			</div>
      						  			<div class="modal-body">
	      						    		<textarea rows="1" cols="60">Username</textarea>
	      						    		<textarea rows="1" cols="60">Password</textarea>

      						  			</div>
      						  			<div class="modal-footer">
      						  				<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
			</div>
			<div class="row profileSeg">
				About Alison...
			</div>
			<div class="row profileSeg">
				(Description
				<br />.
				<br />.
				<br />.)
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#UsernameModal">Edit Description</button>
						<!-- Modal -->
							<div id="UsernameModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">
    							<!-- Modal content-->
	    							<div class="modal-content">
							      		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Edit Description</h4>
      						  			</div>
      						  			<div class="modal-body">
	      						    		<textarea rows="1" cols="60">Current Description</textarea>
      						  			</div>
      						  			<div class="modal-footer">
      						  				<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
			</div>
			<div class="row profileSeg">
				<b>Known Languages</b>
						<ul>
							<li><button class="btn btn-danger btn-xs" >-</button>JavaScript</li>
							<li><button class="btn btn-danger btn-xs" >-</button>HTML</li>
							<li><button class="btn btn-danger btn-xs" >-</button>C++</li>
							<li><button class="btn btn-danger btn-xs" >-</button>Ruby</li>
						</ul>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#LangModal">+Add language</button>
						<!-- Modal -->
							<div id="LangModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">

    						<!-- Modal content-->
	    							<div class="modal-content">
						      			<div class="modal-header">
							        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Add Language</h4>
      						  			</div>
      						  			<div class="modal-body">
		      						    	<textarea rows="1" cols="60" placeholder="New Language..."></textarea>
      						  			</div>
      						  			<div class="modal-footer">
	      						  			<button type="submit" calss="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
			</div>
			<div class="row profileSeg">
				<b>Special Skills</b>
					<ul>
						<li><button class="btn btn-danger btn-xs" >-</button>Designing</li>
						<li><button class="btn btn-danger btn-xs" >-</button>Story Boarding</li>
					</ul>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#LangModal">+Add Skill</button>
						<!-- Modal -->
							<div id="LangModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">

    						<!-- Modal content-->
	    							<div class="modal-content">
						      			<div class="modal-header">
							        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        									<h4 class="modal-title">Add Language</h4>
      						  			</div>
      						  			<div class="modal-body">
		      						    	<textarea rows="1" cols="60" placeholder="New Language..."></textarea>
      						  			</div>
      						  			<div class="modal-footer">
	      						  			<button type="submit" calss="btn btn-default" data-dismiss="modal">Submit</button>
        					  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    					  	  			</div>
    								</div>
  								</div>
  							</div>
			</div>
			<div class="row profileSeg">
				<a href="privateprofile"><button button="submit" class="btn btn-default">Save</button></a>
				<a href="privateprofile"><button button="submit" class="btn btn-default">Cancel</button></a>
			</div>
		</div>
		<div id="current" class="cols-sm-4 col-md-4 col-lg-4 segment">
			<div id="title" class="row">
				<b>Current Projects</b>
			</div>
			<div class="row">
					<div class="col-lg-3 col-sm-3 col-md-3">
						<img src="../img/dashboard/avatar-thumbnail.jpg" style="width: 100px; height: 100px">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<b>Saving the World One Life at a Time</b>
						<br />Submitted By: jjason92
						<br />
					</div>
			</div>
					<br />
			<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="../img/dashboard/octocat.png" style="width: 100px; height: 100px">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						Don't overwhelm yourself with projects!
					</div>
			</div>
		</div>
		<div id="finished" class="col-sm-4 col-md-4 col-lg-4 segment">
					<div id="title" class="row">
					<b>Finished Projects</b>
					</div>
					<div class="row project">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<img src="../img/dashboard/avatar-thumbnail.jpg" style="width: 100px; height: 100px">
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9">
							<b>Make Your Own Avatar</b>
							<br />Start your coding career with an interactive sprite.
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<img src="../img/dashboard/octocat.png" style="width: 100px; height: 100px">
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9">
							More Projects to be Completed!
						</div>
					</div>
				</div>
	</div>
  <% include ./partials/global-scripts %>
</body>
</html>
