<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/global-head %>
  <link rel="stylesheet" type="text/css" href="../styles/forgotpassword.css">
  <title>Open Circle</title>

</head>
<body>

  <% include ./partials/header %>
  <section class="container">

    <h1>Reset your password</h1><!--
    <img src="https://pbs.twimg.com/profile_images/554631714970955776/uzPxPPtr.jpeg"  class="img-circle" alt="Avatar" /> -->
    <h5>Enter your email address and we will send you a link to reset your password.</h5>
      <label><input type="text" required autocomplete="off" style=" size="8"" /></label>
      <div>
      <a href="setpassword.html"><button type="submit" class="button button-block"style="background-color: green"/>Send Password Reset Email</button></a>
  </div>
    </section>

  <% include ./partials/global-scripts %>
</body>
</html>
