<link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Roboto:500' rel='stylesheet' type='text/css'>
<!DOCTYPE html>
<html lang="en">
<head>
<style>
.button {background-color: #000000;
          color: white;
          text-align: center;
          border: none;
          margin: 4px 2px;
          padding: 15px 32px;
          cursor: pointer;}

.footer {
    position:fixed
    left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  }

 .name{
 	font-family: 'Marck Script', cursive;
 	color: white;
 }
  </style>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="padding:10px;  >
  <div class="container-fluid">
    <div class="navbar-header" style="padding:1px;">
      <a href="header.html"><img src="../img/Header/logo.png" class="img-rounded" alt="Logo" width="60" height="60" ></a>  
      
    <ul class="nav navbar-nav">
      <li class ="name" ></li>
 	<li> <h2 style = "font-family: 'Roboto', sans-serif; color: white;">OpenCode </h2><li>
  
    </ul>
    </div>
   
    <ul class="nav navbar-nav navbar-right" >
                <li><a href="Signup.html">Sign Up</a></li>
                <li><a href="Signin.html">Log In</a></li>
            </ul>
            </div>
            </div>
  </div>
</nav>

<footer>
<h5>OpenCode creation for women by women benefiting women</h5>
</footer>
</body>
</html>
