<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/global-head %>
  <link rel="stylesheet" href="../styles/opensource.css" />
  <title>Open Circle</title>

</head>
<body>

  <% include ./partials/header %>
  <div id="content">
    <div class="row">
      <div class="col-sm-1"><a href="./dashboard"><i class="fa fa-arrow-circle-left fa-3x h1"></i></a></div>
      <div class="col-sm-11"><h1>Submit Open Source Task</h1><hr></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <form role="form" action="" onsubmit="return submitNewOSSTask(this);">
          <div class="form-group">
            <label for="project-name">Project Name:</label>
            <input type="text" class="form-control" id="project-name" placeholder="Name...">
          </div>
          <div class="form-group">
            <label for="task-name">Task Name:</label>
            <input type="text" class="form-control" id="task-name" placeholder="Task...">
          </div>
          <div class="form-group">
            <label for="project-image">Image:</label>
            <input type="url" class="form-control" id="project-image" placeholder="Link to Project Image...">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" id="description"></textarea>
          </div>
          <div class="form-group">
            <label for="hints">Hints:</label>
            <textarea class="form-control" rows="5" id="hints"></textarea>
          </div>
          <div class="form-group">
            <label for="skills">Skills (ctrl+click to select multiple):</label>
            <select multiple class="form-control" id="skills">
              <option>HTML</option>
              <option>CSS</option>
              <option>Javascript</option>
              <option>jQuery</option>
              <option>node</option>
              <option>Java</option>
              <option>Python</option>
              <option>Ruby</option>
            </select>
          </div>
          <button type="submit" value="Submit" class="btn btn-danger btn-block">Submit New Task</button>
        </form>
      </div>
    </div>

  </div>
  <% include ./partials/global-scripts %>
</body>
</html>
