<link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Roboto:500' rel='stylesheet' type='text/css'>
<!DOCTYPE html>
<html lang="en">
<head>
<style>
.button {background-color: #000000;
          color: white;
          text-align: center;
          border: none;
          margin: 4px 2px;
          padding: 15px 32px;

          cursor: pointer;}
.container {
  text-align: center;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
}
.footer {
    position:fixed
    left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  }


</style>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse "  >
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="header.html"><img src="../img/Header/logo.png" class="img-rounded" alt="Logo" width="50" height="50" style="padding:5px;"></a> 
      <!-- <img src="../img/Header/Name.png" class="img-rounded" alt="Name" width="200" height="50" style="padding:5px;"> -->
      
      <ul class="nav navbar-nav">
      <li class ="name" ></li>
  <li> <h2 style = "font-family: 'Roboto', sans-serif; color: white;">OpenCode </h2><li>
  
      
    </ul>
    </div>
    <ul class="nav navbar-nav">
      <li class ="name" ></li>
  <li> <h2 style = "font-family: 'Roboto', sans-serif;">OpenCode </h2><li>
  
      
    </ul>
   
    <ul class="nav navbar-nav navbar-right" >
                <li><a href="Signup.html">Sign Up</a></li>
                <li><a href="Signin.html">Log In</a></li>
            </ul>
            </div>
            
</nav>


<section class="container">
    <div class="login">
      
      <table class="table" >
  <h1>Login to OpenCode</h1><!-- 
  <img src="https://pbs.twimg.com/profile_images/554631714970955776/uzPxPPtr.jpeg"  class="img-circle" alt="Avatar" /> --> 
    <tbody>
      
      <tr>
        <td><label>
             Enter New Password<span class="req"></span><label></label></td>
        <td><input type="password"required autocomplete="off"/></td>
      </tr>
      
     
       
      
    </tbody>
  </table>
    </div>
    <a href="dashboard.html"><button type="submit" class="button button-block" style="background-color: green"/>Get Started</button></a>
    <div class="login-help">
      <p>Forgot your password? <a href="forgotpassword.html">Click here to reset it</a>.</p>
    </div>
  </section>




<footer>
 
<h5>OpenCode creation for women by women benefiting women</h5>


</footer>
</body>
</html>
