<html>
<head>
  <title>Open Circle - Coder Dojo - Open Source Project</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/openSource.css" />
</head>
<body>
  <div id="content">
    <div class="row">
      <div class="col-sm-1">
        <img id="open-source-icon" class="h1" src="../img/openSource/CoderDojo.png">
      </div>
      <div class="col-sm-10">
        <h1>Coder Dojo <small>Filter Users as a Champion</small></h1>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-info">See on GitHub</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 well">
        <h2>Description</h2>
        On the manage users page, it would be useful to have the ability to search for a specific user by name or by user type e.g show all ninjas over 13. Currently all users are listed in random (non alphabetical order. This feature should be accessible by anyone with Dojo admin / ticketing permissions.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 well">
        <h2>Hints</h2>
        For more information on creating test data so you can see the manage users page, see <a href="https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md">this doc</a>. The main <a href="https://github.com/CoderDojo/community-platform/blob/master/README.md">readme file</a> is here.
      </div>
      <div class="col-sm-4">
        <h2>Skills</h2>
        <ul>
          <li>HTML</li>
          <li>Javascript</li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
