<html>
<head>
  <title>Open Circle Profile</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" >
  <link rel="stylesheet" type="text/css" href="../styles/profile.css">
</head>
<body>
	<div class="container">
		<div class="well">	
			<div class="row profileInfo">
				<div class="col-sm-3 col-md-3 col-lg-3">
					Profile Pic
				</div>	
				<div class="col-sm-3 col-md-3 col-lg-3">
					Username
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					Title
				</div>
				<div  class="col-sm-3 col-md-3 col-lg-3">
					Karma
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading"><b>Description</b></div>
					<div class="panel-body">
						Name
					</div><div class="panel-body">
						Description Body
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading"><b>Known Languages</b></div>
					<div class="panel-body">
						<ul>
							<li>Lang 1</li>
							<li>Lang 2</li>
							<li>Lang 3</li>
							<li>Lang 4</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading"><b>Links</b></div>
					<div class="panel-body">
						<ul>
							<li>Link to Resume</li>
							<li>Link to personal site</li>
							<li>Links to outside personal prjects</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Current Projects</div>
				<div class="panel-body">
					<ul>
						<li>Current Project 1</li>
						<li>Current Project 2</li>
						<li>Current project 3</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Finished Projects</div>
				<div class="panel-body">
					<ul>
						<li>Finished Project 1</li>
						<li>Finished Project 2</li>
						<li>Finished- project 3</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<a href="editProfile.html" class="btn bnt-default" role="button">Edit</a>
	</div>
	</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>