<html>
<head>
  <title>Open Circle</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

 <div class="">
  <h1><center>Problems- Let's Get Started</center></h1>               
</div> 
<div>
<table width="100%" border="30">
  <tr valign="top">
    <td>
    <h1>Question 1: <font size="2"> </h1>  
    	<p> "This is the fun problem statement that speaks to you!"</p>
    	<p> "You need to do this"</p>
    	<p> "Keep this in mind though!"</p>
    	<p> "Time Complexity needs to be.."</p>
    	<p> "Have Fun!"</p>
    <td bgcolor="#b5dcb3" height="200" width="40%">
 </div>
 <div>      
<form action="">
  	Enter your code: <br>
  	<input type="text" name="Code:" style="font-size:18pt;height:420px;width:450px;">
 	<br>
  	<input type="submit" value="Submit">
  	<input type="submit" value="Test">
</form> 
</div>
<div>

    </td>	
    <td bgcolor="#aaa" width="20%">
  
	<div id='myBtn'></div>
	<button class="References">References!</button>
	<button class="Music">Music!</button>
		<!-- <input type='button' id='hideshow' value='References'> -->
		<div class="content">
		<script type="text/javascript">
				#content {
  					background:#9D0053;
 					height:160px;
  					padding:5px;
}
		</script>
	
    <p></p>
</div>
		<script type="text/javascript">
			.show {
		    display:none;
		}
		</script>
		<script type="text/javascript">
			.hide {
		    display:none;
		}

		</script>
		<script type="text/javascript">
			$('#content').click(function(){
		    $(this).toggleClass('slow');
		});
		</script>

  </div> 
    </td>
   </tr>
<table>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>  



