<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/global-head %>
  <link rel="stylesheet" href="../styles/setpassword.css" />
  <title>Open Circle</title>

</head>
<body>

  <% include ./partials/header %>
  <section class="container">

    <h1>Enter your new password</h1><!--
    <img src="https://pbs.twimg.com/profile_images/554631714970955776/uzPxPPtr.jpeg"  class="img-circle" alt="Avatar" /> -->

      <label><input type="password" required autocomplete="off" style=" size="8"" /></label>
      <div>
      <a href="signin.html"><button type="submit" class="button button-block"style="background-color: green"/>Send Password Reset Email</button></a>
  </div>
    </section>


  <% include ./partials/global-scripts %>
</body>
</html>
