<link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Roboto:500' rel='stylesheet' type='text/css'>
<!DOCTYPE html>
<html lang="en">
<head>
<style>
.button {background-color: #000000;
          color: white;
          text-align: center;
          border: none;
          margin: 4px 2px;
          padding: 15px 32px;
          cursor: pointer;}

.form {
  align: center;
  background-color: #555555: 
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  
}
footer {
    position:fixed
    left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  }

</style>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top"  >
  <div class="container-fluid">
    <div class="navbar-header">
     <a href="header.html"><img src="../img/Header/logo.png" class="img-rounded" alt="Logo" width="50" height="50" style="padding:5px;"></a>  
      <!-- <img src="../img/Header/Name.png" class="img-rounded" alt="Name" width="200" height="50" style="padding:5px;"> -->
    
    <ul class="nav navbar-nav">
      <li class ="name" ></li>
  <li> <h2 style = "font-family: 'Roboto', sans-serif; color: white;">OpenCode </h2><li>
  
      
    </ul>
    </div>
   
    <ul class="nav navbar-nav navbar-right" >
                <li><a href="Signup.html">Sign Up</a></li>
                <li><a href="Signin.html">Log In</a></li>
            </ul>
            </div>
            </div>
  </div>
</nav>

<div class="container" style="padding:200px;">
       
  <table class="table" >
   <h1>  Sign Up for Free </h1>
   <img src="../img/Header/logo.png" class="img-rounded" alt="Logo" width="50" height="50" style="padding:5px;"
   <input type="file" id="imgupload"/> 
<button id="OpenImgUpload">Image Upload</button>
<script type="text/javascript">$('#OpenImgUpload').click(function(){ $('#imgupload').trigger('click'); });</script>


    <tbody>
      <tr>
        <td><label>First Name:<span class="req"></td>
        <td><input type="text" required autocomplete="off" /></td>
      </tr>
      <tr>
        <td><label>
              Last Name:<span class="req"></span></td>
        <td><input type="text"required autocomplete="off"/></td>
      </tr>
     <tr>
        <td><label>
              Email Address:<span class="req"></span></td>
        <td><input type="text"required autocomplete="off"/></td>
      </tr>
      <tr>
        <td><label>
              Phone Number:<span class="req"></span></td>
        <td><input type="text"required autocomplete="off"/></td>
      </tr>
      <tr>
        <td><label>
              Password<span class="req"></span></td>
        <td><input type="password"required autocomplete="off"/></td>
      </tr>
       <tr>
        <td><label><img src="../img/Header/github.png" class="img-rounded" alt="Logo" width="50" height="50" style="padding:5px;">
              GitHub Account Name:<span class="req"></span></td>
        <td><input type="text"required autocomplete="off"/></td>
      </tr>
    </tbody>

  </table>
  <h5>Do not have a GitHub Account? <a href="https://github.com">Create New<h5>


   <a href="dashboard.html"><button type="submit" class="button button-block" style="background-color: green">Get Started</button></a>
</div>
        

<footer>
 <div>
<h5>OpenCode creation for women by women benefiting women</h5>


</footer>
</body>
</html>
