@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Oswald:400,300);
.container{
	padding:0;
	width:100%;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
.top-middle{
	margin-top: 2%;
}
.pullLeft{
	margin-left: -16%;
}
.navbar-brand{
	padding:1px 15px;
}
.top-down{
	margin-top: 10%;
}
.left-spaced{
	margin-left: 15%;
}
.right-margin{
	margin-right: 20%;
}
.dashBody{
	background: white;
}
.row{
	padding:2% 5%;
}
.btn,a{
	color:white;
	border:solid 1px white;
}
nav{
	/*max-height: 10vh;*/


background: #fd746c; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-fixed-top{
	/*border-bottom: solid 3px red;     */
}
nav .btn, nav a{
	border:none;
}
button{
	background: transparent;
	border: 0;
}
button:hover{
	color:black;
}
a.btn:hover{
	background:white;
	color: black;
	cursor: pointer;
}
#profile{
	height: 12vh;
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}

.navbar li.active{
	height: 100%;
}
.navbar li{
	/*min-width: 140px;*/
}
.navButton{
	border:solid 1px white;
	border-radius:25px;
	padding: 0 5%;
	min-width: 140px;
}
#profilePicture{
	background: #e74c3c;
}
.avatar{
	margin-left: 15px;
}
/*#profile .name{
	height:20%;
}
#profile .name>p{
	text-transform: uppercase;
	font-size: 10pt;
	text-align: left;
	padding-left: 0;
	padding-top:10px;
}*/
.value{
	/*font-size: 15pt;*/
	color:#c0392b;
	letter-spacing: 2px;
	/*text-transform: uppercase;*/
}
#level,#karmaPoints,#website,#github,#mentors{
	margin: 0;
	padding: 0;
	padding-top: 1%;
	height: 100%;
}

#profile .avatar{
	border-radius: 50%;
	background: white;
	/*height:;*/
	height: 70px;
	width: 70px;
	margin-left:14%;
	margin-top: 7%;
	margin-bottom: 0%;
	/*border: solid 4px rgba(0,0,0,0.5);*/
	border-top:0;
}
.progress{
	height:5px;
}
#level{
	margin: 0;
	padding: 0;
}
#dashboard{
	/*height:85vh;*/
	margin-top: 10%;
	/*z-index: 0;*/
}
#dashboard .content{
	background:#e3e3e3;
	height: 100%;
	padding: 1% 5%;
	border-top: solid 3px rgba(255,0,0,0.6);
	/*overflow: scroll !important;*/
	position: relative;
}
button.minimize{
	position: absolute;
	right:2%;
	top:2%;
	border: 0;
	background: transparent;
}
button.minimize:hover i{
	color:#d35400;
}
#dashboard .content .thumbnail{
	position: relative;
	z-index: 4;
	border-radius:0;
	transition: all 0.3s ease;
}

#dashboard .content .thumbnail:hover{
	-ms-transform: scale(1.05); /* IE 9 */
   	-webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
    z-index: 5;
}
#dashboard .content .thumbnail .availabilityStatus{
	z-index: -1;
	background: transparent;

}
#dashboard .content .thumbnail .availabilityStatus i{
	color:transparent;
}
#dashboard .content .no-show .availabilityStatus{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	z-index: 4;
}
#dashboard .content .no-show .availabilityStatus i{
	color:white;
	margin-top: 15%;
}
#dashboard .content .thumbnail .caption{
	color:white;
}
#problems .thumbnail{
	background: url("../img/dashboard/avatar-thumbnail.jpg");
	background-size: cover;
}
#openSource .thumbnail{
	background: url("../img/dashboard/Octocat.jpg");
	background-size: cover;
}
#dashboard #problems,#dashboard #openSource,#dashboard #wall{
	height:100%;
	padding:0 1%;
}
#dashboard #problems{

}
#dashboard #openSource{

}
#dashboard #wall{

}
#wall #inProgressProjects .thumbnail:first-child{

background: #a73737; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #a73737 , #7a2828); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #a73737 , #7a2828); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#wall #inProgressProjects .thumbnail{


background: #1F1C2C; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1F1C2C , #928DAB); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1F1C2C , #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#wall #availableProjects .thumbnail:nth-child(odd){
background: #EC6F66; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EC6F66 , #F3A183); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EC6F66 , #F3A183); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#wall #availableProjects .thumbnail{
	background: #16a085;
}
#wall .thumbnail .caption{
	position: relative;
}
#wall .thumbnail .caption .pinToggle{
	position: absolute;
	right:2%;
	top:2%;
	-ms-transform: rotate(20deg); /* IE 9 */
   	-webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}
#wall .nav-tabs{
	border-bottom:1px solid white;
}
#wall .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:9pt;
    box-shadow: none;
}
#wall .nav-tabs>li>a {
	text-transform: uppercase;
	color:#7f8c8d;
	font-size:7pt;
	letter-spacing: 2px;
	box-shadow: none;
}
