.container{
	font-size: 18px;
	width: 100%;
	padding: 0;
}
.profileInfo{ 
	font-size: 20px;
	color:white	;
	background-color: #dd5555;
	/*padding: 10px;*/
	}
.button{
	font-size: 10px;
}
input[type=text]:focus {
    background-color: #eeeedd;
}
.pad{
	display: flex;*/
}
.col{
	vertical-align: middle;
	/*flex: 1;*/
}
.row{
	vertical-align: middle;
	/*flex: 1;*/
}
a:link.a{
	color: white;
}
a:visited.a{
	color: #dddddd;
}
a:hover.a{
	color: #cccccc;
}
a.active.a{
	color: white;
}
